<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" dest="err">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1} - %m%n"/>
    </Console>
    <RollingFile name="RollingLogFile" fileName="tagannotation.log" filePattern="tagannotation-%i.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1} - %m%n"/>
      <Policies>
        <OnStartupTriggeringPolicy minSize="1"/>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy min="1" max="5" fileIndex="1"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console" level="error"/>
      <AppenderRef ref="RollingLogFile" level="info"/>
    </Root>
  </Loggers>
</Configuration>

